* {
  box-sizing: border-box;
}

html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-container {
  max-width: 600px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  gap: 2px;
  height: 600px;
  width: 600px;
}

.grid-options-container {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.last-item {
  margin-left: auto;
}

.btn {
  font-size: 1rem;
  padding: 8px 16px 8px 16px;
}

.grid-item {
  background-color: rgb(220, 220, 220);
}
